<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project Head</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tiro+Gurmukhi&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  

</head>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b><h2 class="dashboard"> Dashboard-Project Head </h2></b>  </a>
   
    
      <ul class=" nav justify-content-end">
      
        <li class="nav-item ">
          <a href="/logout"><button class="bn632-hover bn26">Logout</button></a>
        </li>
       
       
        </li>
       
      </ul>
    
    </div>
  
</nav>

<body>
  <div class="divbody">
    <div class="tabel1 table-responsive" style="overflow-x: hidden;">
      <!-- Button trigger modal -->
      <div class="container">
        <!-- Button to Open the Modal -->
        <div class="view-modal " id="myModal">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
             
              
              <!-- Modal Header -->
              <div class="modal-header">
                <h5 class="modal-title">Project</h5>
                <a type="button" class="close"  data-dismiss="modal">&times;</a>
              </div>
            
              <!-- Modal body -->
              <div class="modal-body">
                <table class="table table-bordered table-responsive-lg" id="xyz">
                  <thead>
                    <tr>
                      <th scope="col">S.no</th>
                      <th scope="col">Content</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Eligible</th>
                    </tr>
                  </thead>
                  <tbody id="tb">

                  </tbody>
                </table>
              </div>

              <!-- Modal footer -->
             

            </div>
          </div>
        </div>
        <!-- The Modal  1 -->
        <div class="modal" id="myModal">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h5 class="modal-title">Project</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div id="msg">

              </div>
              <!-- Modal body -->
              <div class="modal-body1" style=" padding-top:18px;padding-left:20px;padding-right:20px;">
                <table class="table table-bordered table-responsive-lg" id="xyz">
                  <thead>
                    <tr>
                      <th scope="col">S.no</th>
                      <th scope="col">Content</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Eligible</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Group</td>
                      <td><input class="row1" id="group_remarks"></td>
                      <td><select name="cars" class=" row1" id="group_eligible" style="margin-left: 10px;
                        margin-right: 10px;" >
                    <option value="Eligible" class="text-success">Eligible</option>
                    <option value="Not Eligible" class="text-danger">Not Eligible</option>
                   
                  </select></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td style="white-space: nowrap;">Individual</td>
                      <td><input class="row1" id="individual_remarks"></td>
                      <td><select name="cars" class=" row1" id="individual_eligible" style="margin-left: 10px;
                        margin-right: 10px;" >
                    <option value="Eligible" class="text-success">Eligible</option>
                    <option value="Not Eligible" class="text-danger">Not Eligible</option>
                   
                  </select></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer" id="footer-btn">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal End-->
      <table id="myTable" class="table table-bordered table-hover mx-auto w-50 h-10" style="width:100%;  ">
        <thead>
          <div class="select">
            <form action="/action_page.php">
              <label for="cars">Year</label>
              <select name="cars" class="year" id="year" style="margin-left: 10px;
                    margin-right: 10px;">
                <option value="2020-2024">2020-2024</option>
                <option value="2021-2025">2021-2025</option>
               
              </select>
              <br>
            </form>
            <form action="/action_page.php">
              <label for="section"  >Section</label>
              <select name="cars" id="section" class="section" style="margin-left: 20px;">
                <option value="a">A</option>
                <option value="b">B</option>
              </select>
              <br>      
            </form>
          </div>
          <tr class="change2" style="background-color:rgb(0, 0, 255); color: white;">
            <div class="wtcl">
              <th style="text-align: center;" class="w-0">S.no</th>
              <th style="text-align: center;" class="w-2"> Name </th>
              <th style="text-align: center;" class="w-2"> Reg NO</th>  
              <th style="text-align: center;"> Status </th>
              <th style="text-align: center; width:30%"> Edit/View </th>
            </div>
          </tr>
        </thead>
       
      </table>
    </div>
  </div>
  <script  src="./assets/js/project.js"></script>
  

</body>

</html>